/*
Theme: OffStreetStudios.com
Version:1.0
Artist: Ridhim Mehta
Artist url: http://ridh.im
Project of: http://offstreetstudios.com

*/




/* -----------------------------------------
   Shared Styles
----------------------------------------- */

a {
	text-decoration: none;
	color: rgba(85, 85, 85, 0.81);
}

html {
	font-size: 13px;
}

body {
	width: 100%;
	height: 100%;
	color: #525252;
	border-top: 4px solid #ffc30f;
	background-color: #ffffff;
}

header {
	max-width: 970px;
	min-height: 90px;
	padding-top: 35px;
	margin: auto;
}

logo img{
	margin-top: -10px;
	margin-bottom: 20px;
}

work h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	border-bottom: 1px solid #e7e7e7;
	line-height: 30px;
	margin-bottom: 30px;
}

service h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	border-bottom: 1px solid #e7e7e7;
	line-height: 30px;
	margin-bottom: 30px;
}

service img {
	float: left;
	margin-right: 15px;
	max-width: 32px;
	max-height: 32px;
}

service h3 {
	font-size: 14px;
	line-height: 10px;
	color: #6c6c6c;
}

footer {
	padding-top: 30px;
	margin-top: 40px;
	background-color: rgba(225, 225, 225, 0.29);
	border-top: 1px solid #e7e7e7;
}

footer h3 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 25px;
}

.logofoot img {
	float: right;
	margin-top: 15px;
	margin-bottom: 25px;
}

.copyright {
	text-align: right;
	font-size: 11px;
	color: #a2a2a2;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #e7e7e7;
}

social {
	list-style: none;
	line-height: 18px;
}

social li {
	margin-bottom: 15px;
	font-size: 12px;
}

/* -----------------------------------------
   Page Name: Features
----------------------------------------- */

.title {
	margin-top: 40px;
	padding-bottom: 7px;
	font-size: 30px;
}

.title2 {
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 20px;
	color: #acacac;
	font-size: 12px;
	margin-bottom: 50px;
}

.gray {
	background-color: #d3d3d3;
	padding-left: 50px;
	padding-top: 30px;
}

.line {
	border-bottom: 1px dotted #e7e7e7;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* -----------------------------------------
   Page Name: About
----------------------------------------- */

about h5 {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

about h6 {
	text-align: center;
	font-style: italic;
	font-size: 12px;
	font-weight: normal;
	line-height: 0;
	color: #acacac;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dotted rgba(172, 172, 172, 0.41);
}

/* -----------------------------------------
   Page Name: Contact
----------------------------------------- */

contact h5 {
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 15px;
	margin-top: 50px;
	margin-bottom: 20px;
	border-bottom: 1px dotted rgba(172, 172, 172, 0.41);
}

textarea {
	min-height: 100px;
}

/* -----------------------------------------
   Page Name: Feature
----------------------------------------- */




/* -----------------------------------------
   Page Name: Single
----------------------------------------- */

single #featured {
	max-height: 400px;
	height: 400px;
}

.prevnext {
	text-align: center;
	border-top: 1px dotted rgba(172, 172, 172, 0.41);
	padding-top: 20px;
	margin-top: 20px;
}


.font{
    font-family: 'Ceviche One', cursive;
}
.font1{
	font-family: 'Open Sans', sans-serif;
	font-size:30px
}
.font2{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	background:url(../images/about/web.jpg);
	background-repeat:no-repeat;
	border-bottom:1px #ffc20f solid;
}

.damn{
	width:770px;
	height:1px;
	margin: 0 auto;
	margin-bottom:15px;
	background:url('../images/damn.png');
	background-repeat:x;
}

