.ff-container{
	text-align: center;
}

.ff-container label{
	cursor: pointer;
	display: inline;
	margin-right: 30px;
	padding-bottom: 10px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	font-size: 13px;
}
.ff-container label.ff-label-type-all{
}
.ff-container label.ff-label-type-3{
}
.ff-container input.ff-selector-type-all:checked ~ label.ff-label-type-all,
.ff-container input.ff-selector-type-1:checked ~ label.ff-label-type-1,
.ff-container input.ff-selector-type-2:checked ~ label.ff-label-type-2,
.ff-container input.ff-selector-type-3:checked ~ label.ff-label-type-3{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646d93', endColorstr='#7c87ad',GradientType=0 );
	color: #ffc30f;
	border-bottom: 1px solid #ffc30f;
}
.ff-container input{
	display: none;
}
.ff-items{
	position: relative;
	list-style: none;
	margin: 35px auto;
}

.ff-items a{
	display: block;
	position: relative;
}

.ff-items a span{
	display: block;
	color: #fff;
	padding: 0px;
	padding-left: 20px;
	position: absolute;
	bottom: 0px;
	width: 94%;
	left: 10px;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-color: #ffc30f;
	line-height: 45px;
}

.ff-items a span img {
	margin-top: 60px;
	margin-left: 100px;
}

.ff-items a:hover span{
	height: 100%;
	opacity: 0.9;
}

.ff-items li img{
	display: block;
	margin: 10px;
}

.ff-items li{
	margin: 0px;
	float: left;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
.ff-container input.ff-selector-type-all:checked ~ .ff-items li,
.ff-container input.ff-selector-type-1:checked ~ .ff-items .ff-item-type-1,
.ff-container input.ff-selector-type-2:checked ~ .ff-items .ff-item-type-2,
.ff-container input.ff-selector-type-3:checked ~ .ff-items .ff-item-type-3{
	opacity: 1;
}

.ff-container input.ff-selector-type-1:checked ~ .ff-items li:not(.ff-item-type-1),
.ff-container input.ff-selector-type-2:checked ~ .ff-items li:not(.ff-item-type-2),
.ff-container input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3){
	opacity: 0.1;
}
.ff-container input.ff-selector-type-1:checked ~ .ff-items li:not(.ff-item-type-1) span,
.ff-container input.ff-selector-type-2:checked ~ .ff-items li:not(.ff-item-type-2) span,
.ff-container input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3) span{
	display:none;
}